<div class="sidebar-wrapper">
    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text">
               Hệ thống quản lý
          </a>
    </div>

    <ul class="nav">
        <li class="active">
            <a href="/">
                <i class="pe-7s-graph"></i>
                <p>Đăng Ký Khuôn Mặt</p>
            </a>
        </li>
        <li>
            <a href="/list-admin">
                <i class="pe-7s-user"></i>
                <p>Danh sách sử dụng</p>
            </a>
        </li>
        <li>
            <a href="/list-user">
                <i class="pe-7s-note2"></i>
                <p>Danh sách điểm danh</p>
            </a>
        </li>
        <li>
            <a href="/camera">
                <i class="pe-7s-map-marker"></i>
                <p>Camera giám sát</p>
            </a>
        </li>
        <li>
            <a href="notifications.html">
                <i class="pe-7s-bell"></i>
                <p>Thông báo</p>
            </a>
        </li>
        <li class="active-pro">
            <a href="upgrade.html">
                <i class="pe-7s-rocket"></i>
                <p>Nâng cấp phiên bản</p>
            </a>
        </li>
    </ul>
</div>
